body {
  overflow-x: hidden;
}
.logo-img {
  width: 40px;
}
.search-input {
  height: 40px;
  width: 55%;
}
.aside {
  border-right: 1px solid rgba(128, 128, 128, 0.413);
}
/* SearchBar */
.search-bar {
  border-radius: 50px;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
}
.search-bar .form-control {
  border: none;
  box-shadow: none;
  padding-left: 10px;
}
.search-bar .input-group-text {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  color: black;
}
/**/

/* Bootstrap General */
.btn:focus,
i:focus {
  box-shadow: none !important;
  outline: none !important;
}
.text-gray {
  color: rgb(164, 164, 164);
}
.btn-link {
  text-decoration: none !important;
}
.btn-link:hover {
  text-decoration: underline !important;
}

/* game card */
.game-card {
  width: 15rem;
}
.img-not-found{
  height: 10rem;
}
.h-fit-content {
  height: fit-content !important;
}
.bg-yellow {
  background-color: rgba(255, 255, 0, 0.5) !important;
}
.bg-green {
  background-color: rgba(0, 128, 0, 0.5) !important;
}
/* genre card */
.genre-img {
  width: 1.85rem;
  height: 1.85rem;
  border-radius: 7.5px;
}
.py-0_5 {
  padding-top: 2px;
  padding-bottom: 2px;
}
/* responsive design */
@media (max-width: 650px) {
  .search-bar {
    width: 50%;
  }
  .game-card {
    width: 22rem;
  }
}

/* Skeleton */

.skeleton-image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 160px;
  background: linear-gradient(90deg, #444 25%, #555 50%, #444 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
}

.skeleton-title {
  height: 25px;
  width: 70%;
  background: linear-gradient(90deg, #444 25%, #555 50%, #444 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 4px;
}

.skeleton-platform {
  height: 25px;
  width: 50%;
  background: linear-gradient(90deg, #444 25%, #555 50%, #444 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 4px;
}

.skeleton-score {
  height: 20px;
  width: 30px;
  background: linear-gradient(90deg, #444 25%, #555 50%, #444 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 50%;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
/* Genre Skeleton */
.genre-skeleton-img {
  background: linear-gradient(90deg, #444 25%, #555 50%, #444 75%);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 7.5px;
  background-size: 200%;
  animation: skeleton-loading 1.5s infinite;
}
.genre-skeleton-name {
  width: 4rem;
  height: 1rem;
  background: linear-gradient(90deg, #444 25%, #555 50%, #444 75%);
  background-size: 200%;
  animation: skeleton-loading 1.5s infinite;
  border-radius: 7px;
}
